<div class="content-container col-md-3 mt-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-header">{{ isEdit ? 'Edit Inscription' : 'New Inscription' }}</h4>

            <form [formGroup]="inscriptionForm" (ngSubmit)="submitForm()">
                
                <div class="form-group mt-2">
                    <label class="form-label">Student</label>
                    <input class="form-control" type="text" formControlName="student" />
                    <p class="text-error" *ngIf="inscriptionForm.get('student')?.touched && inscriptionForm.get('student')?.errors?.['required']">Student is required</p>
                </div>

                <div class="form-group mt-2">
                    <label class="form-label">Course</label>
                    <input class="form-control" type="text" formControlName="course" />
                    <p class="text-error" *ngIf="inscriptionForm.get('course')?.touched && inscriptionForm.get('course')?.errors?.['required']">Course is required</p>
                </div>

                <button mat-raised-button color="primary" class="mt-4" type="submit" [disabled]="!inscriptionForm.valid">{{ isEdit ? 'Save' : 'Add' }}</button>
            </form>

        </div>
    </div>
</div>